<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jcesa.chilakillers">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo5"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TipoActivity"
            android:label="@string/title_activity_tipo"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jcesa.chilakillers.MainActivity" />
        </activity>
        <activity
            android:name=".MiFuturaMascota"
            android:label="@string/title_activity_mi_futura_mascota"
            android:parentActivityName=".TipoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jcesa.chilakillers.TipoActivity" />
        </activity>
        <activity
            android:name=".DatosUsuarioActivity"
            android:label="@string/title_activity_datos_usuario"
            android:parentActivityName=".MiFuturaMascota"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jcesa.chilakillers.MiFuturaMascota" />
        </activity>
        <activity
            android:name=".MascotaActivity"
            android:label="@string/title_activity_mascota"
            android:parentActivityName=".TipoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jcesa.chilakillers.TipoActivity" />
        </activity>
        <activity android:name=".mensaje"></activity>
    </application>

</manifest>